/******************************************************************

Stylesheet: 1200px以上のモニタで適用

******************************************************************/

.c-txt-lr {
  font-size: 2.8rem;
}

.c-container {
  padding: 0 10vw;
}

//#top 
.p-top {
  padding-bottom: 10vw;

  & .swiper-container {
    height: 75vh;

    & .view-sp {
      display: none;
    }

    & .view-pc {
      display: block;
    }
  }

  .sub-title-name {
    top: 30%;
  }

  & .scrolldown {
    right: 42px;
  }
}

//#message
.p-message {
  &__img {
    text-align: right;

    & img {
      width: 80%;
    }

    &::after {
      left: none;
      width: 80%;
    }
  }

  & .img-txt {
    left: 20vw;
  }

  & .c-txt-vertical {
    left: 7.5vw;
  }
}

//#about 
.p-about {
  padding-top: 5vw;

  &__img {
    &.left {
      justify-content: flex-end;

      & .simpleParallax {
        text-align: right;
      }
    }

    &.right {
      margin-top: 5vw;
      justify-content: flex-start;

      & .simpleParallax {
        display: block;
        text-align: left;
      }
    }
  }
}

//#menu
.p-menu {

  &__slider-wrapper {
    display: flex;
    margin-right: 5vw;
  }

  &__slider {
    width: 50%;
  }

  & .hero {
    padding-left: 10vw;
  }
}

//#special
.p-special {
  & img {
    width: 50%;
  }

  &__img {
    &.left {
      margin-bottom: 0;
    }

    & .right {
      margin-top: 0;
    }
  }

  &__txt {

    & .txt01,
    & .txt02 {
      padding-top: 0;
    }
  }
}

//#information
.p-info {
  padding: 0 0 10vw 0;
}

//#news
.p-news {
  padding: 0 0 8vw 0;

  &__list {
    & a {
      padding: 2vw 0 2vw 2vw;
    }
  }
}

//#header
.header {
  background-color: #fff;
  height: 110px;

  & .mobile-button {
    display: none;
  }

  & .logo {
    margin: 40px 20px 0 80px;
    width: 170px;
    height: 60px;
  }

  & .mobile-container {
    display: inline;
    position: relative;
  }

  & .pc-container {
    display: block;
    padding: 3.5vw 10vw 0 0;
  }

  & .pc-header {
    &__list {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      padding-left: 5vw;
    }

  }
}

//.p-footer 
.p-footer {
  padding: 8vw 0;

  & .c-logo {
    & img {
      width: 20%;
      height: 20%;
    }
  }

  &__sns {
    margin-bottom: 7vw;
  }
}

//* * * * * * menu-page * * * * * * *
.c-top {
  margin-top: 8vw;

  &__img {
    text-align: center;

    & img {
      height: 50%;
      width: 50%;
    }
  }
}

//* * * * * * news-page * * * * * * *
.c-news {
  padding-top: 15vw;

  &__title {
    margin-bottom: 5vw !important;
  }

  &__list {
    font-size: 1.5rem;

    & a {
      padding: 3vw 0 3vw 5vw;
    }
  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  & .c-container {
    padding: 0 12vw;
  }

  &__list {
    padding-top: 6vw;
  }

  &__contents {
    padding: 8vw 0;
  }
}