/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.c-txt-lr {
  font-size: 3rem;
  letter-spacing: 10px;
}

.c-txt-md {
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.c-txt-sm {
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.c-txt-xs {
  font-size: 1rem;
}

.view-more__link {
  & span {
    font-size: 1.6rem;
  }
}

//#header
.header {
  background-color: #fff;
  height: 110px;

  & .mobile-button {
    display: none;
  }

  & .logo {
    margin: 30px 20px 0 0;
    width: 280px;
    height: 55px;
  }

  & .mobile-container {
    display: inline;
    position: relative;
  }

  & .pc-container {
    display: block;
    padding: 3.5vw 10vw 0 0;
  }

  & .pc-header {
    &__list {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      font-size: 1.4rem;
      padding-left: 5vw;
    }

  }
}

//#top 
.p-top {
  & .sub-title-name {
    right: 20px;
    font-size: 20px;
  }

  & .scrolldown {
    font-size: 18px;
    right: 34px;
    bottom: 100px;
  }

}

//#about
.p-about {
  &__img {

    &.left,
    &.right {
      height: 360px;
    }
  }
}

//#message
.p-message {
  &__img {
    text-align: center;
  }

  & .c-txt-vertical {
    font-size: 1.5rem;
    left: 1%;
  }
}

//#special
.p-special {
  & h3 {
    font-size: 1.8rem;
  }
}

//#news 
.p-news {
  padding-top: 5vw;

  &__tit {
    margin-bottom: 7vw;
  }

  &__link {
    padding: 4vw 0;
    font-size: 1.2rem;
  }
}

//#menu 
.p-menu {

  & .swiper-container2,
  & .swiper-container3 {
    height: 350px;
  }

  & .menu-name {
    font-size: 2rem;
  }
}

//#information 
.p-info {
  padding: 10vw 0 15vw 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;

    & p {
      font-size: 1.2rem;
    }

    & span {
      font-size: 1.4rem;
    }
  }

  & .g-map {
    font-size: 1.2rem;

    &::before {
      height: 25px;
      width: 25px;
    }
  }
}

//footer
.p-footer {
  padding: 5vw 0;

  .c-logo {
    & img {
      width: 20%;
      height: 20%;
    }
  }

  & .sns-insta,
  & .sns-fb {
    margin-right: 20px;
    margin-left: 20px;

    & .sns-link {
      width: 100px;
      height: 100px;
      border-radius: 50px;

      & i {
        width: 35px;
        height: 35px;
      }
    }
  }

  & .copyright {
    font-size: 1.4rem;
  }
}

//* *  * * * * * * * menu-page * * * * * * * * * * 
.c-top {
  margin-top: 5vw;

  &__tit {
    font-size: 3rem;
  }

  &__img {
    text-align: center;

    & img {
      height: 50%;
      width: 50%;
    }
  }
}

//* * * * * * news-page * * * * * * *

.c-news {
  padding-top: 5vw;

  &__list {
    & a {
      padding: 3vw 0 5vw 3vw;
    }

  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  & .c-container {
    padding: 0 12vw;
  }

  &__list {
    padding-top: 6vw;
  }

  &__contents {
    padding: 8vw 0;
  }
}