//* * * * * * setting * * * * * * *
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Serif JP", serif;

  &.hidden {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: $cBlack;
}

.c-container {
  padding: 0 10vw;
}

.superwrapper {
  overflow: hidden;
}

.c-txt-lr {
  font-size: 2rem;
  letter-spacing: 7px;
  line-height: 2;
  color: $cSubBlack;
}

.c-txt-md {
  font-size: 1.2rem;
  letter-spacing: 3px;
  line-height: 2;
  color: $cSubBlack;
}

.c-txt-sm {
  font-size: 1rem;
  letter-spacing: 3px;
  line-height: 2;
  color: $cSubBlack;
}

.c-txt-xs {
  font-size: 0.7rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}

.page-link {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(66, 66, 66);
}

.c-img {
  margin: 0 -5vw;
  height: 55vh;
}

.c-title {
  & .txt {
    position: relative;
    padding-left: 12vw;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
      display: inline-block;
      height: 1px;
      width: 8vw;
      background-color: $cGray;
    }
  }
}

.c-txtarea {
  position: absolute;
  top: 60%;
  left: 0;
  margin: 0 5vw;
  padding: 5vw;
  padding-bottom: 8vw;
  background-color: rgb(248, 245, 245);
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 3px 3px 3px rgb(235, 235, 235);

  & .ja {
    letter-spacing: 3px;
    line-height: 2.2;
    color: $cSubBlack;
    font-weight: 100;
    font-size: 0.9rem;
    margin-bottom: 4vw;
  }
}

.c-txt-vertical {
  position: absolute;
  top: 40%;
  left: 3%;
  color: #bd9c8a;
  writing-mode: vertical-lr;
  font-size: 0.8rem;
  letter-spacing: 3px;
  z-index: 1000;
}

.c-txt02 {
  font-size: 1.1rem;
  margin-bottom: 5vw;
}

.view-more {
  margin-top: 10vw;
  text-align: right;
  padding-left: 3vw;
  padding-right: 8vw;
  padding-bottom: 1.5vw;
  letter-spacing: 3px;

  & a {
    color: $cBlack;

    & span {
      border-bottom: 1px solid rgb(223, 223, 223);
    }
  }
}

.more-link {
  color: $cSubBlack;
}

.icon-tel {
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url(/images/common/icon-tel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }
}

.icon-map {
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url(/images/common/icon-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }
}

.icon-net {
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url(/images/common/icon-calendar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }
}

.icon-insta {
  position: relative;
  padding-left: 10vw;
  color: $cBlack;
  border-bottom: 1px solid $cGray;
  padding-bottom: 5px;
  font-size: 22px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-image: url(/images/common/icon-insta-gr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 22px;
    width: 22px;
  }
}

.insta-link {
  text-align: right;
  margin-bottom: 10px;

  & span {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    padding-right: 15px;
    border-bottom: 1px solid $cSubBlack;
    font-size: 20px;
    color: $cSubBlack;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height: 22px;
      width: 22px;
      background-image: url(../images/common/icon-insta-gr.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 12px;
      width: 12px;
      background-image: url(../images/common/arrow.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

//#header
.header {
  z-index: 2000;

  width: 100%;
  background-color: #fff;

  & .logo__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    & a {
      height: 100%;
    }
  }

  & .logo {
    background-image: url(/images/common/riv_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5vw 0 0 5vw;
    height: 44px;
    width: 115px;
  }

  // ***スクロールでロゴの色を変えるとき
  // & .menu-open {
  //   &.logo {
  //     transition: all .3s;
  //     background-image: url(/images/home/riv_logo.png) !important;
  //     background-position: center;
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     margin: 5vw 0 0 5vw;
  //     height: 44px;
  //     width: 137px;
  //   }
  // }

  // & .inview {
  //   &.logo {
  //     transition: all .3s;
  //     background-image: url(/images/home/riv_logo-white.png);
  //     background-position: center;
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     margin: 5vw 0 0 5vw;
  //     height: 44px;
  //     width: 137px;
  //   }
  // }

  & .logo-gr {
    overflow: hidden;
  }

  & .pc-container {
    display: none;
  }

  & .sp-navbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.7;
    height: 7.5vh;
    width: 100%;
    z-index: 2000;
    transition: all 0.4s;

    &__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 60vw;
      margin: auto;

      & a {
        display: block;
      }
    }
  }

  & .hide {
    &.sp-navbtn {
      visibility: hidden;
      transform: translateY(50px);
      transition: all 0.4s;
    }
  }

  @media (min-width: 960px) {
    & .pc-container {
      display: block;
    }
  }
}

//#top
.p-top {
  position: relative;
  padding-bottom: 20vw;

  @media (max-width:599px) {
    padding-top: 60px;
  }

  .hero {
    width: 90%;
    overflow: hidden;
  }

  .sub-title-name {
    position: absolute;
    top: 40%;
    right: -6px;
    writing-mode: vertical-lr;
    letter-spacing: 6px;
    color: #bd9c8a;
    font-size: 14px;
  }
}

//#message
.p-message {
  &__img {
    position: relative;
    height: 80vw;
    max-height: 450px;
    margin: 10vw -10vw 0 -10vw;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      margin: auto;
      background-color: rgb(25, 24, 26);
      opacity: 0.7;
      height: 100%;
      width: 100%;
    }
  }

  &__tit {
    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin-top: 5vw;
  }

  & .img-txt {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: $cWhite;
    text-align: center;
    letter-spacing: 3px;
    line-height: 3;
    z-index: 1000;
  }
}

//#menu
.p-about {
  position: relative;
  padding: 15vw 0;

  &__tit {
    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__sub-txt {
    margin-bottom: 80px;
  }

  &__img {
    & img {
      width: 60%;
      height: 85%;
    }

    &.left {
      display: flex;
      justify-content: flex-start;
      margin-top: 10vw;
      height: 160px;

      & img {
        box-shadow: 20px 30px 45px rgb(199, 199, 199);
      }
    }

    &.right {
      display: flex;
      justify-content: flex-end;
      margin-top: 14vw;
      height: 160px;

      & .simpleParallax {
        display: flex;
        justify-content: flex-end;
      }

      & img {
        box-shadow: 20px 30px 45px rgb(199, 199, 199);
      }
    }
  }

  & .cover-bg {
    position: absolute;
    top: 55%;
    left: 0;
    background-color: rgb(238, 231, 231);
    height: 120vw;
    width: 100%;
    z-index: -1;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }

  & .c-txt-vertical {
    top: 82%;
  }
}

//#menu
.p-menu {
  position: relative;
  padding: 30vw 0 15vw 0;

  &__container {
    padding-left: 10vw;
  }

  & .hero {
    position: relative;
    padding-left: 10vw;
  }

  & .menu-name {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
  }

  &__tit {
    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  & .c-txt-vertical {
    top: 55%;
  }
}

//#special
.p-special {
  position: relative;

  &__tit {
    position: relative;
  }

  &__img {
    & img {
      width: 60%;
      height: 85%;
    }

    &.left {
      display: flex;
      justify-content: flex-start;
      margin-top: 20vw;
      margin-bottom: 10vw;
    }

    &.right {
      display: flex;
      justify-content: flex-end;
      margin-top: 14vw;

      & .simpleParallax {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  & .cover-bg {
    position: absolute;
    top: 25%;
    right: 0;
    background-color: rgb(238, 231, 231);
    height: 140vw;
    width: 100%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }

  &__txt {
    & span {
      display: inline-block;
      padding-top: 5vw;
    }
  }

  & .c-txt-vertical {
    top: 78%;
  }
}

//#information
.p-info {
  position: relative;
  padding: 30vw 0 15vw 0;

  &__tit {
    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__item {
    margin-top: 8vw;
    letter-spacing: 2px;

    & p {
      margin-top: 3vw;
      font-size: 0.8rem;
    }

    & .g-map {
      position: relative;
      color: $cBlack;
      padding-left: 25px;
      display: block;
      margin-top: 5vw;
      font-size: 0.8rem;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        content: "";
        height: 20px;
        width: 20px;
        background-image: url(/images/common/icon-map.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

//.p-instagram
.p-insta {
  &-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;

    a {
      width: 33%;
    }
  }

  @media (max-width:599px) {
    &-img {
      a {
        height: 120px;
      }
    }
  }

  @media (min-width:960px) {

    &-img {
      justify-content: space-around;
      margin-bottom: 60px;
    }

    .insta-link {
      text-align: center;

      span {
        font-size: 34px;
        padding-left: 50px;
        padding-right: 30px;

        &::before {
          height: 34px;
          width: 34px;
        }

        &::after {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

//#news
.p-news {
  position: relative;
  padding: 15vw 0;

  &__tit {
    margin-bottom: 10vw;

    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__link {
    display: block;
    padding: 6vw 0;

    & p {
      margin-top: 2vw;
    }
  }

  & .view-more {
    padding-right: 0;
  }

  &__item {
    border-bottom: 1px solid rgb(235, 235, 235);

    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }
}

//#footer
.p-footer {
  padding: 10vw 0;
  background-color: rgb(238, 231, 231);

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 50%;
    }
  }

  & .c-logo {
    text-align: center;

    & img {
      width: 35%;
      height: 35%;
      object-fit: contain;
    }
  }

  &__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
  }

  & .sns-insta {
    & .sns-link {
      position: relative;
      display: block;
      float: left;
      width: 44px;
      height: 44px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 22px;
      box-shadow: 0 12px 16px rgb(182, 182, 182);
      transition: box-shadow 1s;

      & i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-image: url(/images/common/icon-insta-gr.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        width: 22px;
      }
    }
  }

  & .sns-fb {
    & .sns-link {
      position: relative;
      display: block;
      float: left;
      width: 44px;
      height: 44px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 22px;
      box-shadow: 0 12px 16px rgb(182, 182, 182);
      transition: box-shadow 1s;

      & i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-image: url(/images/common/facebook-ico.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        width: 22px;
      }
    }
  }

  & .copyright {
    text-align: center;
    margin-top: 5vw;
    font-size: 0.8rem;
  }
}

//* * * * * * menu-page * * * * * * *
.superwrapper-menu {
  .c-top {
    &__tit {
      padding: 0 0 12vw 0;
      text-align: center;
    }

    & p {
      margin-top: -10px;
    }
  }

  .c-menu {
    padding: 20vw 0;
  }
}

//* * * * * * news-page * * * * * * *
.c-news {
  padding-top: 10vw;

  &__link {
    display: block;
    padding: 8vw 0;
    border-bottom: 1px solid rgb(235, 235, 235);

    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }

    & p {
      margin-top: 2vw;
    }
  }

  .page-numbers {
    margin: 12vw 0;
  }

  .page-numbers:not(.next):not(.prev) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cBlack;

    & .current {
      border: 1px solid rgba(0, 0, 0, 0);
      background: #dffde2 !important;
    }

    & .page-numbers:not(.next):not(.prev) {
      width: 10vw;
      height: 10vw;
      border-radius: 100%;
      border: 1px solid #c4ccd1;
      background: #fff;
      margin: 0 1.3vw;
    }

    & .next {
      position: relative;
      padding-right: 22px;
      top: 0;

      &::after {
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
        content: "";
        position: absolute;
        right: 0;
        background-image: url(/images/common/arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 5px;
        width: 15px;
        height: 15px;
        margin-left: 8px;
      }
    }

    @media (max-width: 767px) {
      & .next {
        display: none;
      }
    }

    @media (min-width: 768px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 40px;
        height: 40px;
      }

      & .next {
        top: 8px;
      }
    }
  }

  .c-news__contents {
    line-height: 2;
    font-size: 0.8rem;
  }

  .c-news__title {
    text-align: center;
    margin-bottom: 10vw;
  }

  .c-news__block {
    padding: 8vw 0;
  }
}

//* * * * * * news-single-page * * * * * * *
.c-news-sl {
  & .c-container {
    padding: 0 5vw;
  }

  &__date {
    color: rgb(173, 173, 173);
  }

  &__list {
    padding: 15vw 0 0 0;
  }

  &__contents {
    padding: 10vw 0;
    line-height: 2;
  }

  &__link {
    margin: 0 0 10vw 0;

    & a {
      border-bottom: 1px solid rgb(114, 114, 114);
    }
  }
}