.swiper-container {
  overflow: visible !important;
  height: 75vh;

  @media (max-width: 1200px) {
    & .view-pc {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .swiper-container {
    height: 45vh;
  }
}

.swiper-slide {
  overflow: hidden;

  &>img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 1.9s ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-active {
    &>img {
      transform: none;
    }

    & .hero__title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.swiper-container2 {
  height: 200px;
  width: 100%;
  overflow: hidden;

  &>img {
    object-fit: contain !important;
    transition: transform 1s ease;
  }
}

.swiper-container3 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-top: 15vw;

  &>img {
    object-fit: contain !important;
    transition: transform 1s ease;
  }
}

//**********  スクロールダウン  ********
.scrolldown {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 3px;
  z-index: 2;
  padding: 10px 10px 90px;
  overflow: hidden;
  color: $cBlack;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;

  &::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 1px;
    height: 80px;
    background: $cBlack;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 1px;
    height: 80px;
    background: rgba(63, 63, 63, 0.4);
  }

  &::after {
    height: 30px;
    animation: sdl 2.5s ease infinite;
  }

  @keyframes sdl {
    0% {
      transform: translateY(-55px);
    }

    50%,
    100% {
      transform: translateY(40px);
    }
  }
}